body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
	vertical-align: middle;
}
input{
	 outline: none;
}
body{
	background: #f2f2f2;
}











/* server部分 */
#faq{
	background: #fff;
    width: 100%;
    overflow: hidden;
    	.wrapper{
    		width: 1200px;
    		margin: 0 auto;
    		.notice {
			    font-family: 宋体;
			    width: 300px;
			    height: 134px;
			    float: left;
			    border-right: 1px solid rgb(234, 234, 234);
			    margin: 25px 0px 25px 2%;
			}
    	}
}
.notice{
	.title{
		h2{
			color: rgb(102, 102, 102);
		    font: 400 16px/20px 宋体;
		    padding: 5px 5px 5px 20px;
		    margin: 0px 0px 5px;
		}
	}
	.content-news {
    height: 146px;
    overflow: hidden;
    	ul{
    		padding: 0px 6px 0px 15px;
    		li{
    			width: 250px;
    			height: 24px;
    			font-size:12px;
    			line-height: 24px;
    			-ms-text-overflow: ellipsis;
    			text-overflow: ellipsis;
    			white-space: nowrap;
    			overflow: hidden;
    			a{
    				color:#999;
    			}
    		}
    	}
	}
}
#faq{
	.link{
	font-family: 宋体;
    width: 823px;
    float: left;
    font-size: 0px;
    white-space: nowrap;
    margin-left: 50px;
    padding: 20px 0%;
    overflow: hidden;
    	li{
    		font-size: 12px;
		    vertical-align: top;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    width: 20%;
		    zoom: 1;
    	}
    	dl{
    		display: block;
		    width: 90%;
		    margin: 0 auto;
		    dt{
		    	color:#999;
			    font: 400 16px/20px 宋体;
			    padding: 5px;
			    margin: 5px 0px;
		    }
		    dd{
		    	white-space: nowrap;
			    text-overflow: ellipsis;
			    display: block;
			    clear: both;
			    font: 12px/20px 宋体;
			    padding: 2px 5px;
			    overflow: hidden;
			    a{
			    	color:#999;
			    }
		    }
    	}
	}
}
// ctti部分极速物流，品质保障
.ctti{
	float: none;
    clear: both;
    width: 100%;
    height: 86px;
    border: 1px solid #e3e3e3;
    border-width: 1px 0px;
    background: #fff;
    .wrapper {
	    width: 1200px;
	    margin: auto;
	    .ctti-footer {
		    width: 1000px;
		    height: 86px;
		    margin: 0 auto;
		}
	}
	i {
    display: block;
    float: left;
    width: 250px;
    height: 86px;
    background: url(../../img/cti.png) no-repeat;
	}
	.cti01{
		background-position: 0 0;
	}
	.cti02{
		background-position: -220px 0;
	}
	.cti03{
		background-position:-472px 0;
	}
	.cti04{
		background-position: -720px 0;
	}
}
// 底部样式
.footer{
	padding-top: 30px;
	font-size: 12px !important;
    text-align: center;
    clear: both;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #343a3a;
    font-family: "宋体";
    .wrapper{
    	width: 1200px;
    	margin: auto;
    	overflow: hidden;
    	p{
    		color: #eeeeee;
		    word-spacing: 5px;
		    padding: 15px 0 0;
		    a{
		    	color:#eee;
		    }
		    i{
		    	background: url(../../img/gh.png);
			    margin-right: 4px;
			    vertical-align: middle;
			    width: 18px;
			    height: 20px;
			    display: inline-block;
		    }
    	}

    }
    .f-img{
    	padding: 20px 0 10px;
	    width: 530px;
	    margin: 0 auto;
	    overflow: hidden;
	    li{
	    	display: block;
		    float: left;
		    margin-right: 20px;
		    a{
		    	display: block;
			    width: 110px;
			    height: 40px;
			    background: url(../../img/footer.png);
		    }

	    }
	    .img01 a{
	    	background-position: 0 0;
	    }
	    .img02 a{
	    	background-position: 356px 0;
	    }
	    .img03 a{
	    	background-position: -365px 0;
	    }
	    .img04 a{
	    	background-position: 113px 0;
	    }
    }
}