/*头部样式*/
.act{
	width: 100%;
	height: 80px;
	cursor: pointer;
	position: relative;
	background: #b0002d;
	.close{
		display: block;
		width: 20px;
		height: 20px;
		font-size: 26px;
		text-align: center;
		line-height: 20px;
		float: right;
		position: absolute;
		top:0;right:0;
		color:#333;
		margin:5px 60px 0 0;
		background:rgba(0,0,0,0.2);
	}
}
.header-top{
	width: 100%;
	height: 40px;
	background:#f6f6f6;
	border-bottom: 1px solid #e9e9e9;

}
.header-m{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}	
.header-m .left{
	width:57%;
	height: 40px;
	float: left;

}
.header-m .right{
	width:41%;
	height: 40px;
	float:right;

}
.header-m .right .login{
	float: left;
	margin-right:6px; 
	line-height: 40px;
	font-size: 12px;
}
.header-m .right .login a{
	margin: 0 4px;
	color: #555;
}
.header-m .right .nav-menu ul li span{
	margin:8px 4px;
	width: 6px;
	height: 3px;
	float: right;
	position: absolute;
	right: -4px;
	top:2px;
	background: url(../../img/top_bg.png) no-repeat 0px 0px;
}
.header-m .right .login .sign{
	color: #FF5B57!important;
}
.header-m .right .nav-menu{
	float: left;
	font-size: 12px;
	.nav{
	
		li{
			vertical-align: middle;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    height: 12px;
		    margin: 14px 0 13px 0;
		    position: relative;
		    padding: 0 4px;
		    z-index: 999;
		    border-left: solid 1px #E1E1E1;
		    a{	display: inline-block;
		    	margin-top:-7px;
		    	padding:0 8px;
		    	color: #777;
		    	vertical-align: middle;	
		    }
		}
		.nav-select{
			width: 70px;
			overflow: hidden;
			font-family: "宋体";
		    position: absolute;
		    z-index: 1;
		   text-align: center;
		   line-height: 24px;
		    opacity: 0;
		    top:-8px;
		    left: 2px;
		    border: solid 1px #ccc;
		    background-color: #FFF;
		    transition: .2s ease-out;
		    a{
		    	color: #777;
		    }
		}
	}
}
.nav li:hover .nav-select{
	opacity: 0;
}

.header-m .right .call-center{
	margin-top: 6px;
	width: 71px;
	line-height:28px;
	border:1px solid #e4e4e4;
	border-top: 0;
}
.right .new-home img{
	vertical-align: middle;
}
.right .new-home a{
	color: #777;
}
.right .new-home{
	margin-left: 16px;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
/*搜索框部分**/
.header-warp{
	width: 100%;
	height: 110px;
	background: #FFF;
}
.header-warp .inner{
	width: 1200px;
	height: 110px;
	margin: 0 auto;

}
.header-warp .inner .site-logo{
	width: 240px;
    height: 68px;
    float: left;
    margin: 22px 80px auto 0;
}
.header-warp .inner .site-logo img{
	width: 240px;
	height: 68px;
}
.inner .search-layout {
    width: 550px;
    float: left;
    margin: 24px 0 0 38px;
}
.inner .search-layout .search-bar{
    width: 100%;
    height: 40px;
    position: relative;
}
.search-bar .search-form{
	display: block;
	height: 36px;
}
.search-tab {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 36px;
    z-index: 2;
}
.search-tab span{
	width: 68px;
    line-height: 36px;
    height: 36px;
    display: block;
    background: #fff;
    i{
   	width: 9px;
   	height: 14px;
    position: absolute;
    top: 11px;
    left: 48px;
    cursor: pointer;
    background:#fff url(../../img/search.ele.png) no-repeat -4px -358px;
    }
}
.search-tab span a{
	display: block;
    height: 36px;
    background: #f8f8f8;
    width: 53px;
    font-size: 12px;
    color: #333;
    padding-left: 15px;
}
.search-tab span:hover a{
	color:#F15C18;
}
.search-tab span .selected{
	position: relative;
    border-right: 1px solid #cecece;
}
.search-tab .secend{
	display:none;
	position: absolute;
	left: -1px;top:36px;
	border:1px solid #cecece;
	border-top:0;
	z-index:5;
}
.search-tab :hover a{
	display:block;
}
.search-bar .input-text {
    float: left;
    border: solid #F15C18;
    border-width: 2px 0 2px 2px;
    width: 361px;
    height: 22px;
    padding: 7px 7px 7px 80px;
    line-height: 24px;
    color: #555;
}
.search-bar .input-submit{
	font-size: 14px;
    color: #FFF;
    font-weight: 600;
    background-color: #F15C18;
    width: 100px;
    height: 40px;
    float: right;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.search-layout .keywords{
	line-height: 20px;
    white-space: nowrap;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
}
.search-layout .keywords ul{
	padding:0 3px;
}
.search-layout .keywords ul li{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
}
.search-layout .keywords ul li a{
	color: #999;
    border-right: 1px solid #999;
    padding-right:6px;
    vertical-align: middle;
}
.search-layout .keywords ul li .last{
	border-right:0;
}
.search-layout .keywords ul li .key-one{
	padding-left: 0;
}
.user-menu{
	margin-top: 24px;
    float: right;
}
.user-menu dl{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    z-index: 3;
}
.user-menu dl dt{
	line-height: 20px;
    color: #555;
    background-color: #fff;
    height: 20px;
    padding: 10px;
    border: solid 1px #F0F0F0;
    
    z-index: 2;
    top: 0;
    right: 0;
    cursor: pointer;
    	i{
    		width: 20px;
    		height: 6px;
    		display: inline-block;
    		background: url(../../img/top_bg.png) no-repeat -140px -16px;
    	}
}
.user-menu dl dt .ico{
	background: url(../../img/yangguang.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
}
.user-menu dl dt .ico1{
	background-position: -6px -5px;
}
.user-menu dl dt .ico2{
	    background-position: -31px -6px;
}
.user-menu dt:hover dd{
	display:block;
}
.user-menu{
	dd{
	padding: 10px;
    background-color: #FFF;
    display: none;
    border: solid 1px #F0F0F0;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0;
	}
	.user-box{
		z-index: 10;
		padding-bottom: 10px;
	    border-bottom: dashed 1px #E6E6E6;
	    overflow: hidden;
		.user-info {
	    float: right;
	    width: 210px;
	    	.btn-sm{
	    		position: absolute;
	    		top:12px;left:58px;
	    		display: inline-block;
			    padding: 6px 12px;
			    margin-bottom: 0;
			    text-align: center;
			    vertical-align: top;
			    margin: 10px 0 0 10px;
			    color:#333;
			    	&:hover{
			    		border:1px solid #ccc;
			    		background: rgba(0,0,0,.1);
			    		border-radius:12px;
			    	}
				}
	    	}
		}
	}
	.user-avatar {
	    float: left; 
	    width: 48px;
	    height: 48px;
	    border-radius: 100%;
	    	img {
		    max-width: 48px;
		    max-height: 48px;
		    border-radius: 100%;

	    }
	}
.user-nav{
	width: 100%;
	overflow: hidden;
	clear: both;
	ul{
		width: 100%;
		li{
			width: 50%;
		    float: left;
		    padding: 4px 0;
		    margin: 0;

		}
		a{
			color: #333;
			&:hover{
				color:#f7ad8b;
			}
		}

	}
}
.public-nav-layout {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #F15C18;
    margin: 0 auto;
    background-color: #fff;
    zoom: 1;
    .wrapper {
    width: 1200px;
    margin: auto;
    	.all-nav{
    		float: left;
		    width: 172px;
		    height: 40px;
		    background-color: #F15C18;
    	}
// 左侧导航栏部分
.containor {
		width: 1000px;
		height: auto;
		position: relative;
		margin: 1px auto;
		top: 40px;
		left:-100px;
	}
	
	.nav_left {
		padding-top: 10px;
		width: 172px;
		height: 471px;
		background: #343a3a;
	}
	
	.nav_left ul {
		width: 172px;
		height: auto;
	}
	.nav_left ul em{
		font-style: normal;
		color:#666;
	}
	.nav_left ul li {
		height: 50px;
		font-size:12px;
		line-height: 50px;
		text-align: left;
	}
	.nav_left ul li .last{
		border:0;
	}
	.nav_left .nav-title{
		position: relative;
		height: 50px;
		border-bottom:1px dashed #666;
	}
	.nav_left .nav-title .frist{
		position: absolute;
		left: 0;
		top:0;
	}
	.nav_left ul li a{
		color:#fff;
	}
	.nav_left li .nav-title:hover a{
		color:#c40000;
	}
	.nav_left ul li{
		padding: 0 10px;
		height: 50px;
		line-height: 50px;
		display: block;
		color: #fff;
	}
	
	.nav_left ul li:hover {
		background: #FFFFFF;
	}
	.nav_left ul li:hover a{
		color: #000;
	}
	.nav_right {
		width: 800px;
		height: 500px;
		position: absolute;
		margin-left: 200px;
		top: 0px;
	}
	.sub {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 480px;
		background: #FFFFFF;
		padding: 10px 0px;
	}
	
	.sub dl {
		overflow: hidden;
		padding: 0px 0px 10px 0px;
	}
	
	.sub dt {
		width: 100px;
		float: left;
		display: block;
		position: relative;
		clear: left;
	}
	
	.sub dt a {
		font-size: 14px;
		color: #000;
		font-weight: bold;
		text-align: center;
		padding-left: 20px;
		text-decoration: none;
		cursor: pointer;
	}
	
	.sub dt i {
		width: 4px;
		right: 12px;
		top: 2px;
		font-size: 14px;
		position: absolute;
		font-style: normal;
	}
	
	.sub dd {
		width: 680px;
		float: left;
		display: block;
		position: relative;
		overflow: hidden;
		padding-right: 20px;
		border-bottom: 1px dashed #E3E3E3;
	}
	
	.sub dd a {
		font-size: 12px;
		float: left;
		color: #666;
		padding: 0 10px;
		margin: 4px 0px 10px 0px;
		text-decoration: none;
		cursor: pointer;
		border-left: 1px solid #E3E3E3;
	}
	
	.sub dd a:hover {
		color: #FF0036;
	}
	
	.hide {
		display: none;
	}
	
	.show {
		display: block;
	}

    	.title{
    		line-height: 20px;
		    height: 20px;
		    padding: 10px 10px 11px 10px;
		    text-align: center;
		    a{
		    	width: 152px;
			    text-align: center;
			    font-size: 14px;
			    font-weight: normal;
			    color: #FFF;
		    }
    	}
	}
	 .site-menu{
		max-width: 988px;
    	position: absolute;
    	top:4px;left:234px;
    	li{
    		vertical-align: top;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    a{
		    	font-size: 14px;
			    font-weight: normal;
			    line-height: 20px;
			    color: #333;
			    height: 20px;
			    padding: 8px 24px;
			    display: inline-block;
			    zoom: 1;
			    &:hover{
			    	color:#ff6d02;
			    }
		    }
		    .active{
		    	font-weight: 600;
		    	color:#ff6d02;
		    }
    	}
	 }
}
.nav-banner-layout{
	width: 100%;
	height: 480px;
	position: relative;
	.live-top{
		height: 79px;
	    width: 1033px;
	    position: absolute;
	    left: 50%;
	    margin-left: -429px;
	    .live-top-left{
	    	width: 866px;
		    height: 79px;
		    float: left;
		    .live-left{
		    	border: 1px solid #e4e4e4;
			    padding: 5px 0px 5px 0px;
			    margin: 5px 6px 5px 15px;
			    height: 59px;
			    width: 408px;
			    float: left;
			    i{
			    	display: block;
				    width: 100px;
				    height: 59px;
				    margin-left: 5px;
				    float: left;
				    background: url(../../img/live.png) no-repeat;
			    }
			    .live01{
				    	background-position: 0 0;
				    	z-index: 666;
				    }
			    .live-goods{
			    	width: 290px;
				    float: left;
				    position: relative;
				    .divI{
				    	display: inline-block;
					    vertical-align: top;
					    position: relative;
					    width: 60px;
					    height: 60px;
					    margin-left: 15px;
					    overflow: hidden;
					    .live-title{
					    	position: relative;
					    	top: -54px;
    						right: -102px;
						    width: 175px;
						    display: inline-block;
						    margin-left: 6px;
						    line-height: 60px;
						    z-index: 5;
						    p{
						    	line-height: 24px;
							    height: 24px;
							    width: 100%;
							    color: #000;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    white-space: nowrap;
						    }
						    .goods-price{
						    	margin-top: 5px;
							    color: #F15C18;
							    width: 50%;
							    em{
							    	line-height: 32px;
    								font-size: 20px;
    								font-style:normal;
							    }
						    }
					    }
				    }
			    }
		    }
	    }
	    .live-top-right{
			    float: right;
			    width: 167px;
			    height: 79px;
			    a{
			    	display:block;
			    	width: 167px;
			    	height: 79px;
			    }
	    }
	}
	.nav-content-layout{
		width: 100%;
		height: 400px;
		position: relative;
		top:79px;
		.bd{
			margin: 0 auto;
		    position: relative;
		    z-index: 0;
		    overflow: hidden;
		    ul{
		    	width: 100% !important;
		    	li{
		    		width: 100% !important;
				    height: 400px;
				    overflow: hidden;
				    text-align: center;
				    background: rgb(224,199,152);
				    a{
				    	display:block;
				    	height: 400px;
				    	img{
				    		height: 400px;
						    position: relative;
						    left: -36px;
				    	}
				    }
				    .right-bar{
				    	width: 248px;
					    height: 400px;
					    background-color: rgba(255, 255, 255, 0.7);
					    position: absolute;
					    right: 50%;
					    margin-right: -604px;
					    top:0px;
					    z-index: 10;
				    }

		    	}
		    }
		    h2{
		    	text-align: center;
			    width: 100%;
			    height: 30px;
			    line-height: 30px;
			    padding: 12px 0;
			    font-size: 16px;
			    font-weight: bold;
			    color: #000;
		    }
		    .right-bt{
		    	padding: 0 29px;
			    width: 192px;
			    height: 346px;
			    font-size:12px;
			    a{
			    	width: 190px;
				    height: 250px;
				    display: block;
				    text-align: center;
				    img{
				    	margin-left:38px;
				    	max-width: 190px;
    					max-height: 250px;
				    }
			    }
			    h3{
			    	height: 24px;
				    line-height: 24px;
				    width: 100%;
				    text-align: center;
				    font-weight: bold;
				    color: #000;
			    }
			    p{
			    	height: 40px;
				    line-height: 20px;
				    margin-top: 5px;
				    overflow: hidden;
				    text-align: center;
				    color:#666;
			    }
		    }
		}
	}
}
/* home广告部分*/
.home-layout{
	width: 1210px;
    height: 150px;
    margin: 15px auto 0 auto;
    clear: both;
    background-color: #FFF;
    overflow: hidden;
    font-family: "微软雅黑", "黑体";
    ul{
	    word-spacing: -1em;
	    width: 1208px;
	    padding: 25px 0;
	    margin-left: -1px;
	    li{
    	    display: inline-block;
		    vertical-align: top;
		    width: 301px;
		    height: 100px;
		    border-left: solid 1px #E8E4DE;
		    a{
		    	    display: block;
				    width: 299px;
				    height: 150px;
				    margin: -25px 0;
				    position: relative;
				    z-index: 1;
				    img{
				    	position: absolute;
					    z-index: 1;
					    bottom: 0;
					    right: 30px;
					    width: 150px;
					    height: 150px;
					    transition:all .2s;
				    }
		    }
		    h2{
		    	position: absolute;
			    z-index: 1;
			    top: 25px;
			    left: 15px;
			    width: 105px;
			    font-size: 16px;
			    font-weight: 600;
			    color: #444;
				transition:all .3s;

		    }
		    h5{
		    	position: absolute;
			    z-index: 1;
			    top: 50px;
			    left: 15px;
			    width: 100px;
			    font-size: 12px;
			    color: #888;
				transition:all .3s;
			    font-weight: 100;
		    }
	    }
    }
    li :hover h5{
    	color:#f64949;
    	transform: translate(0px, 40px);
    }
    li :hover h2{
    	transform: translate(0px, 40px);
    }
    li :hover img{
    	transform: translate(20px, 0px);
    }

}
/* 一楼开始样式 */
.floor-one-layout{
	width: 1210px;
    overflow: hidden;
    margin: 15px auto 0 auto;
    font-family: "微软雅黑", "黑体";
    .floor-one-inner{
    	width:100% !important;
    }
    .color{
    	.mt{
    		border-color: #FE5621;
    	}
    	.active{
    		a{
				border-color: #FE5621;
				color: #FEAA90 !important;
    		}
    	}
    }
    .floor{
    	.mt{
    		.tab{
    			float: right;
    			display: inline;
    		}
    	}
    	.active{
    		a{
    		height: 33px;
		    white-space: nowrap;
		    text-indent: 1px;
		    border-style: solid;
		    border-width: 3px 1px 0 1px;
		    line-height: 30px;
    		}
    	}

    }
    .mt{
    display: block;
    height: 35px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 0;
    	h2{
    		position: relative;
		    display: inline;
		    float: left;
		    padding-left: 40px;
		    font-size: 20px;
		    line-height: 30px;
		    color: #333;
		    font-weight: 100;
		    i{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 18px;
		    height: 18px;
		    padding: 7px 13px 5px 4px;
		    text-align: left;
		    background-image: url(../../img/floor_mt_h2.png);
		    background-repeat: no-repeat;
		    color: #FFF;
		    font-family: "微软雅黑", "黑体";
		    font-size: 12px;
		    line-height: 18px;
		    background-color: #FEAA90;
		    font-style: normal;
		    }
    	}
    	.tab{
    		z-index: 1;
		    height: 34px;
		    border: solid 1px #ededed;
		    border-bottom: 0 none;
		    line-height: 34px;
		    .tab-item{
		    	position: relative;
			    float: left;
			    display: inline;
			    height: 34px;
			    a{
			    	float: left;
				    overflow: hidden;
				    white-space: nowrap;
				    height: 34px;
				    padding: 0 16px;
				    // border-left: solid 1px #fff;
				    // border-right: solid 1px #fff;
				    background: #fff;
				    font-family: "微软雅黑", "黑体";
				    text-decoration: none;
				    line-height: 34px;
				    font-size:12px;
				    color:#333;
			    }
		    }
    	}
    	.floor-t1{
    		.side{
    			width: 210px;
    			.side-inner{
    				height: 474px;
    			}
    			.themes{
    				
    			}
    		}
    	}
    	.floor{
    		.side{
    			width: 210px;
    			float: left;
    			.side-inner{
    				position: relative;
				    z-index: 1;
				    display: block;
				    overflow: hidden;
				    .banner{
				    	position: absolute;
					    z-index: 1;
					    top: 0;
					    right: 0;
					    bottom: 0;
					    left: 0;
				    }
    			}
    		}
    	}
    }
    .mc{
    	position: relative;
		.themes{
			width: 210px;
			position: absolute;
			bottom: 152px;
		    z-index: 2;
		    left: 0;
		    right: 0;
		    background: rgba(255,255,255,0.5);
		    .icon{
		    	display: inline-block;
			    vertical-align: middle;
			    width: 26px;
			    height: 26px;
			    margin: 0 5px 0 0;

			    img{
			    	width: 26px;
			    	height: 26px;
			    }
		    }
		    li{
		    	float: left;
		    	width: 50%;
		    	padding: 8px 0;
			    font-size: 14px;
			    line-height: 26px;
		    	a{
		    		color:#555;
		    	}
		    }
		}
		.words{
			width: 170px;  
			position: absolute;
		    z-index: 2;
		    right: 0;
		    bottom: 0px;
		    left: 0;
		    padding: 16px 15px 16px 25px;
		    background: rgba(255,255,255,.7);
		    li{
		    	display: block;
			    float: left;
			    margin-right: 10px;
			    font-size: 12px;
			    line-height: 24px;
			    a{
			    	color:#777;
			    }
		    }
		}
    }
}
.side{
	width: 210px;
}
.floor{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.main{
		position: absolute;
	    z-index: 1;
	    float: right;
	    top:0px;
	    right:0px;
	    .main-inner{
	    	display: block;
		    position: relative;
		    z-index: 1;
		    .main-body{
		    	float: left;
    			height: 100%;
    			li{
    				position: relative;
				    z-index: 1;
				    display: block;
				    float: left;
				    border: solid #EEE;
				    border-width: 0 1px 1px 0;
    			}

		    }
		   .main-right{
		   	float: right;
    		height: 100%;
    		li{
    			border: solid #EEE;
				border-width: 0 1px 1px 0;
    		}
		   }
	    }
	}
}
.floor-t1{
	.main{
		width: 1000px;
		height:auto;
		.main-inner{
			height: 100%;
			.main-body{
				width: 780px;
				li{
					width: 219px;
    				height: 236px;
				}
			}
			.main-right{
				width: 220px;
			}
		}
		.list-g{
			li{
				width: 165px;
    			padding: 6px 17px 0;
    			.img{
    				height: 140px;
				    padding-top: 15px;
				    margin-bottom: 4px;
    			}
			}
		}
	}
}
.pore2{
	padding-left:340px;
}
.mc-hide{
	display:none;
}
.main{
	.list-g{
		position: relative;
		z-index: 1;
		overflow: hidden;
		li{
			float: left;
		    display: block;
		    height: 230px;
		    border: solid #EEE;
		    background: #fff;
		    font-size:12px;
		    border-width: 0 1px 1px 0;
		    opacity:1;
		    .img{
		    	height: 140px;
			    padding-top: 15px;
			    margin-bottom: 4px;
			    text-align: center;
		    }
		    .g-name{
		    	margin-bottom:4px;
		    }
		    a{
		    	color:#333;
		    }
		    .price{
		    	color: #E4393C;
    			font-size: 14px;
		    }
		}
	}
}
.main .list-g:hover li{
	opacity: 0.2;
}
.floor-ft01{
	width: 1208px;
	overflow: hidden;
	background: #fff;
	padding: 15px 0;
    margin: 0 auto;
    border: solid #EEE;
    border-width: 0 1px 1px;
    ul{
    width: 1210px;
    height: 33px;
    overflow: hidden;
    margin-left: -1px;
    	li{
    float: left;
    width: 120px;
    height: 33px;
    border-left: 1px dotted #ccc;
    text-align: center;
    	img{
    		max-width: 100px;
   			 max-height: 33px;
    		}
    	}
    }
}
//轮播图
.carousel {
	position: relative;
	margin: 0px auto;
	width:339px;
	height:236px;
	top: -474px;
    left: -110px;
	overflow: hidden;
}
.carousel-list {
	position: relative;
	width: 2360px;
}
.carousel-list li {
	float: left;
}
.direction-btn {
	display: none;
}
.direction-btn a{
	position: absolute;
	top: 50%;
	margin-top: -135px;
	width: 30px;
	line-height: 60px;
	background: rgba(0, 0, 0, .3);
	color: #fff;
	font-size: 30px;
	text-align: center;
	z-index: 111111;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	padding: 0 4px;
	width: 72px;
	background: rgba(255, 255, 255, .5);
	line-height: 0;
	font-size: 0;
	border-radius: 12px;
}
.dots a {
	margin: 6px 4px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #222;
	border-radius: 50%;
}
.dots .active {
	background: red;
}
/* 会员专享 */
.layout-vip{
	width: 1210px;
    height: 350px;
    margin: 15px auto;
    clear: both;
    overflow: hidden;
    .vip-share{
    	width: 1208px;
	    height: 346px;
	    border: 1px solid #f15e1b;
	    border-width: 3px 1px 1px;
	    background: #fff;
	    .vip-title{
	    	height: 49px;
		    background: #f2f2f2;
		    width: 100%;
		    overflow: hidden;
		    border-bottom: 1px solid #e1e1e1;
	    }
    }
}
.vip-title{
	.t-vip-left{
		float: left;
	    font-size: 20px;
	    color: #f15e1b;
	    line-height: 50px;
		i{
			display: inline-block;
		    width: 26px;
		    height: 26px;
		    background: url(../../img/vip.png) no-repeat;
		    vertical-align: middle;
		    margin-top: -5px;
		    margin-right: 13px;
		    margin-left: 23px;
		}
	}
	.t-vip-right{
		float: right;
		span{
			display: inline-block;
		    line-height: 50px;
		    margin-right: 40px;
		    a{
		    	font-size: 16px;
    			color: #f15e1b;
    			img{
    				width: 25px;
				    height: 25px;
				    display: inline-block;
				    margin-right: 6px;
				    margin-top: -4px;
    			}
		    }
		}
	}
}
.vip-bottom{
	width: 1164px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    ul{
    	li{
    		width: 206px;
		    height: 270px;
		    float: left;
		    border-right: 1px solid #ebebeb;
		    padding: 13px;
    	}
    	.vip-name{
		font-size: 12px;
		line-height: 24px;
		color: #333;
		width: 100%;
		height: 48px;
		overflow: hidden;
		margin-top: 20px;
		}

    }
}
.vip-bottom{
	li{
		.vipImg{
			width: 206px;
			height: 206px;
			a{
				width: 206px;
				height: 206px;
				display: block;
				img{
					width: 206px;
					height: 206px;
				}
			}
		}
	}
	.last{
		border-right:0;
	}
}
