.header-top{
	width: 100%;
	height: 40px;
	background:#f6f6f6;
	border-bottom: 1px solid #e9e9e9;

}
.header-m{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}	
.header-m .left{
	width:57%;
	height: 40px;
	float: left;

}
.header-m .right{
	width:41%;
	height: 40px;
	float:right;

}
.header-m .right .login{
	float: left;
	margin-right:6px; 
	line-height: 40px;
	font-size: 12px;
}
.header-m .right .login a{
	margin: 0 4px;
	color: #555;
}
.header-m .right .nav-menu ul li span{
	margin:8px 4px;
	width: 6px;
	height: 3px;
	float: right;
	position: absolute;
	right: -4px;
	top:2px;
	background: url(../../img/top_bg.png) no-repeat 0px 0px;
}
.header-m .right .login .sign{
	color: #FF5B57!important;
}
.header-m .right .nav-menu{
	float: left;
	font-size: 12px;
	.nav{
	
		li{
			vertical-align: middle;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    height: 12px;
		    margin: 14px 0 13px 0;
		    position: relative;
		    padding: 0 4px;
		    z-index: 999;
		    border-left: solid 1px #E1E1E1;
		    a{	display: inline-block;
		    	margin-top:-7px;
		    	padding:0 8px;
		    	color: #777;
		    	vertical-align: middle;	
		    }
		}
		.nav-select{
			width: 70px;
			overflow: hidden;
			font-family: "宋体";
		    position: absolute;
		    z-index: 1;
		   text-align: center;
		   line-height: 24px;
		    opacity: 0;
		    top:-8px;
		    left: 2px;
		    border: solid 1px #ccc;
		    background-color: #FFF;
		    transition: .2s ease-out;
		    a{
		    	color: #777;
		    }
		}
	}
}
.nav li:hover .nav-select{
	opacity: 0;
}

.header-m .right .call-center{
	margin-top: 6px;
	width: 71px;
	line-height:28px;
	border:1px solid #e4e4e4;
	border-top: 0;
}
.right .new-home img{
	vertical-align: middle;
}
.right .new-home a{
	color: #777;
}
.right .new-home{
	margin-left: 16px;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
/*搜索框部分**/
.header-warp{
	width: 100%;
	height: 110px;
}
.header-warp .inner{
	width: 1200px;
	height: 110px;
	margin: 0 auto;

}
.header-warp .inner .site-logo{
	width: 240px;
    height: 68px;
    float: left;
    margin: 22px 80px auto 0;
}
.header-warp .inner .site-logo img{
	width: 240px;
	height: 68px;
}
.inner .search-layout {
    width: 550px;
    float: left;
    margin: 24px 0 0 38px;
}
.inner .search-layout .search-bar{
    width: 100%;
    height: 40px;
    position: relative;
}
.search-bar .search-form{
	display: block;
	height: 36px;
}
.search-tab {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 36px;
    z-index: 2;
}
.search-tab span{
	width: 68px;
    line-height: 36px;
    height: 36px;
    display: block;
    background: #fff;
    i{
   	width: 9px;
   	height: 14px;
    position: absolute;
    top: 11px;
    left: 48px;
    cursor: pointer;
    background:#fff url(../../img/search.ele.png) no-repeat -4px -358px;
    }
}
.search-tab span a{
	display: block;
    height: 36px;
    background: #f8f8f8;
    width: 53px;
    font-size: 12px;
    color: #333;
    padding-left: 15px;
}
.search-tab span:hover a{
	color:#F15C18;
}
.search-tab span .selected{
	position: relative;
    border-right: 1px solid #cecece;
}
.search-tab .secend{
	display:none;
	position: absolute;
	left: -1px;top:36px;
	border:1px solid #cecece;
	border-top:0;
	z-index:5;
}
.search-tab :hover a{
	display:block;
}
.search-bar .input-text {
    float: left;
    border: solid #F15C18;
    border-width: 2px 0 2px 2px;
    width: 361px;
    height: 22px;
    padding: 7px 7px 7px 80px;
    line-height: 24px;
    color: #555;
}
.search-bar .input-submit{
	font-size: 14px;
    color: #FFF;
    font-weight: 600;
    background-color: #F15C18;
    width: 100px;
    height: 40px;
    float: right;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.search-layout .keywords{
	line-height: 20px;
    white-space: nowrap;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
}
.search-layout .keywords ul{
	padding:0 3px;
}
.search-layout .keywords ul li{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
}
.search-layout .keywords ul li a{
	color: #999;
    border-right: 1px solid #999;
    padding-right:6px;
    vertical-align: middle;
}
.search-layout .keywords ul li .last{
	border-right:0;
}
.search-layout .keywords ul li .key-one{
	padding-left: 0;
}
.user-menu{
	margin-top: 24px;
    float: right;
}
.user-menu dl{
	font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    z-index: 3;
}
.user-menu dl dt{
	line-height: 20px;
    color: #555;
    background-color: #fff;
    height: 20px;
    padding: 10px;
    border: solid 1px #F0F0F0;
    
    z-index: 2;
    top: 0;
    right: 0;
    cursor: pointer;
    	i{
    		width: 20px;
    		height: 6px;
    		display: inline-block;
    		background: url(../../img/top_bg.png) no-repeat -140px -16px;
    	}
}
.user-menu dl dt .ico{
	background: url(../../img/yangguang.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
}
.user-menu dl dt .ico1{
	background-position: -6px -5px;
}
.user-menu dl dt .ico2{
	    background-position: -31px -6px;
}
.user-menu dt:hover dd{
	display:block;
}
.user-menu{
	dd{
	padding: 10px;
    background-color: #FFF;
    display: none;
    border: solid 1px #F0F0F0;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0;
	}
	.user-box{
		z-index: 10;
		padding-bottom: 10px;
	    border-bottom: dashed 1px #E6E6E6;
	    overflow: hidden;
		.user-info {
	    float: right;
	    width: 210px;
	    	.btn-sm{
	    		position: absolute;
	    		top:12px;left:58px;
	    		display: inline-block;
			    padding: 6px 12px;
			    margin-bottom: 0;
			    text-align: center;
			    vertical-align: top;
			    margin: 10px 0 0 10px;
			    color:#333;
			    	&:hover{
			    		border:1px solid #ccc;
			    		background: rgba(0,0,0,.1);
			    		border-radius:12px;
			    	}
				}
	    	}
		}
	}
	.user-avatar {
	    float: left; 
	    width: 48px;
	    height: 48px;
	    border-radius: 100%;
	    	img {
		    max-width: 48px;
		    max-height: 48px;
		    border-radius: 100%;

	    }
	}
.user-nav{
	width: 100%;
	overflow: hidden;
	clear: both;
	ul{
		width: 100%;
		li{
			width: 50%;
		    float: left;
		    padding: 4px 0;
		    margin: 0;

		}
		a{
			color: #333;
			&:hover{
				color:#f7ad8b;
			}
		}

	}
}
.public-nav-layout {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #F15C18;
    margin: 0 auto;
    background-color: #fff;
    zoom: 1;
    .wrapper {
    width: 1200px;
    margin: auto;
    	.all-nav{
    		float: left;
		    width: 172px;
		    height: 40px;
		    background-color: #F15C18;
    	}
    	.title{
    		line-height: 20px;
		    height: 20px;
		    padding: 10px 10px 11px 10px;
		    text-align: center;
		    a{
		    	width: 152px;
			    text-align: center;
			    font-size: 14px;
			    font-weight: normal;
			    color: #FFF;
		    }
    	}
	}
	 .site-menu{
		max-width: 988px;
    	float: left;
    	li{
    		vertical-align: top;
		    letter-spacing: normal;
		    word-spacing: normal;
		    display: inline-block;
		    a{
		    	font-size: 14px;
			    font-weight: normal;
			    line-height: 20px;
			    color: #333;
			    height: 20px;
			    padding: 8px 24px;
			    display: inline-block;
			    zoom: 1;
			    &:hover{
			    	color:#ff6d02;
			    }
		    }
		    .active{
		    	font-weight: 600;
		    	color:#ff6d02;
		    }
    	}
	 }
}
.top-layout{
	width: 1200px;
	margin:0 auto;
    min-height: 26px;
    padding: 10px 0;
	.nch-box{
		span{
			font-size: 12px;
		    line-height: 26px;
		    color: #999;
		    letter-spacing: normal;
		    word-spacing: normal;
		}
		.smal-box{
			position: relative;
		    z-index: 1;
		    display: inline-block;
		    height: 26px;
		   .culture{
		    	position: relative;
			    z-index: 2;
			    display: block;
			    height: 22px;
			    border: solid 1px #E6E6E6;
			    padding: 1px 7px;
			    background-color: #FFF;
			    line-height: 20px;
			    color: #555;
		    }
		    .drop{
		    	display: inline-block;
				    width: 20px;
				    height: 20px;
				    margin: 1px 0 0 4px;
				    vertical-align: top;
				    background: url(../../img/search.ele.png) no-repeat 4px 7px;
		    }
		    .smal-sub{
		    	display: none;
			    position: absolute;
			    z-index: -1;
			    top: 25px;
			    left: 0;
			    width: 348px;
			    background-color: #FFF;
			    border: solid 1px #FF6D02;
			    ul{
			    	font-size: 0;
    				padding: 5px;
    				li{
    					display: inline-block;
					    width: 23%;
					    height: 24px;
					    padding: 0 1%;
					    font-size: 12px;
					    a{
					    	color:#333;
					    }
    				}
			    }
		    }
		}
		.dr{
			font-family: "微软雅黑", "黑体";
		    line-height: 26px;
		    color: #AAA;
		    margin: 0 6px;
		}
	}
	.clear{
		clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
	}
}
.smal-box :hover .smal-sub{
	display:block;
}
.nch-title{
	width: 1180px;
	margin: 0 auto;
	display: block;
    height: 24px;
    padding: 6px 10px;
    border: solid #E6E6E6;
    border-width: 1px;
    background-color: #F2F2F2;
    line-height: 20px;
    h3{
    	font-size:12px;
    	color: #666;
    	font-weight: 100;
    	em{
    		font-style: normal;
    	}
    	.f14{
    		font-size: 14px;
    	}
    	.c-danger{
   		 color: #FF5B57!important;
    	}
    }

}
.flei{
	display: inline-block;
   	border-right: solid 1px #E6E6E6;
    line-height: 24px;
    color: #777;
    padding: 6px 10px 6px 10px;
    background-color: #FAFAFA;
    font-style: normal;
    font-size: 12px;
   }
.content {
	width: 1200px;
	margin: 0 auto;
    overflow: hidden;
    background-color: #FFF;
    position: relative;
    z-index: 1;
    border:1px solid #E6E6E6;
    line-height: 34px;
    border-top:0;
   a{
   	font-size: 12px;
    line-height: 24px;
    color: #000;
    padding: 0 15px;
    &:hover{
    	color: #FF6D02;
    }
   }
}
.nav-warp{
	width:1200px;
	margin:10px auto 0 auto;
	background: #F5F5F5;
	height: 42px;
	border-top:none;
	border: solid 1px #E8E8E8;
	.nav-left{
		li{
			float: left;
			line-height: 22px;
			font-size: 12px;
			padding: 10px 15px;
			border-right: solid 1px #E8E8E8;
			a{
				color:#888;
				i{
					background: url(../../img/search.ele.png) no-repeat 0 -380px;
				    vertical-align: middle;
				    display: inline-block;
				    width: 13px;
				    height: 12px;
				    margin-left: 4px;
				}
			}
			
		}
		.select{
			border-color: #FF6D02;
		    background-color: #FF6D02;
		    color: #FFF;
		    a{
		    	color: #fff;
		    }
		}
	}
}
.nav-left:hover li{
	background: #fff;
}
.warp{
	width: 1200px;
}
.nch-list{
	margin: 0px auto;
	position: relative;
    z-index: 1;
    width: 1210px;
    overflow: hidden;
    .list-pic{
    	isplay: block;
    width: 1220;
    margin-left: -21px;
    overflow: hidden;
    .g-item{
    	position: relative;
	    z-index: 11;
	    display: block;
	    float: left;
	    width: 222px;
	    height: 385px;
	    margin-left: 22px;
	    margin-top: 20px;
	    border: solid 1px #E8E8E8;
	    	.goods-content {
			    z-index: 1;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background-color: #FFF;
			   
			    overflow: hidden;
			}
    	}
    	.g-item:hover{
    		border:1px solid red;

    	}
    	.goods-pic {
		    width: 220px;
		    height: 220px;
		    margin: 0;
		    opacity: .6;
			&:hover{
			opacity: 1;
			border-bottom:1px solid #ccc;
		}
		    a{
		    	line-height: 0;
		    text-align: center;
		    vertical-align: middle;
		    display: table-cell;
		    width: 220px;
		    height: 220px;
		    overflow: hidden;
		    }
		    img{
		    	 width: 220px;
		    height: 220px;
		    }
		}
    }
    .goods-info {
    width: 220px;
    background-color: #FFF;
	}
	 .goods-price{
    position: relative;
    z-index: 1;
    display: block;
    color: #FF5300;
    width: 200px;
    height: 20px;
    padding: 15px 10px 0 10px;
    em{
    	font-style: normal;
    	b{
    		font-family: Verdana;
		    font-size: 16px;
		    font-weight: normal;
		    margin-right: 4px;
    	}
    }
    .sale-price {
    font-family: Arial;
    font-size: 20px;
    font-weight: lighter;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    overflow: hidden;
	}
 }
 .goods-name a {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    background-color: #FFF;
    height: 18px;
    display: block;
    padding: 0 10px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goods-jingle a {
    display: block;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    background-color: #FFF;
    height: 18px;
    padding: 0 10px;
    margin-bottom: 5px;
    color: #FF6D02;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.store {
    display: block;
    height: 20px;
    padding: 0 10px 10px;
    line-height: 20px;
    font-size: 12px;
    color:#999;
    .goods_self {
     	font-size: 12px;
    float: right;
    background: #FF6D02;
    color: #fff;
    padding: 0 4px;
    border-radius: 4px;
    font-family: "微软雅黑";
    margin-top: 2px;
	}
 }
 .shopping-box {
    display: block;
    height: 30px;
    padding: 10px 5px;
    border-top: solid 1px #E8E8E8;
     .shopping-act {
    float: left;
     a {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    height: 20px;
    padding: 4px 8px;
    border: solid 1px #FF6D02;
    background-color: #FF6D02;
    border-radius: 2px;
    	 i {
		    display: inline-block;
		    vertical-align: middle;
		    width: 18px;
		    height: 16px;
		    background: url(../../img/search.ele.png) no-repeat 0 -248px;
		    margin-right: 8px;
		}
       }
     }
   .f-btn{
   	float: left;
    height: 30px;
    margin-left: 5px;
    	&:hover{
    		border: solid 1px #FF6D02;
    	}
    a{
    display: block;
    height: 20px;
    padding: 4px 4px;
    background-color: #FAFAFA;
    border: solid 1px #F0F0F0;
    border-radius: 2px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    	i {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: url(../../img/search.ele.png) no-repeat 0 -436px;
    margin-right: 4px;
    margin-left: 2px;
       }
    }
   }
   .im-btn{
   	float: right;
    height: 30px;
    	&:hover{
    	border: solid 1px #FF6D02;	
    	}
    a{
    display: block;
    height: 20px;
    padding: 4px 4px;
    border: solid 1px #F0F0F0;
    border-radius: 2px;
    line-height: 20px;
    color: #999;
    	i{
			display: inline-block;
		    vertical-align: middle;
		    width: 18px;
		    height: 18px;
		    background: url(../../img/chat_state_01.png) no-repeat -1px -24px;
		    margin-right: 4px;
		    margin-left: 2px;
    	}
    }
   }  
  }
}
.page-warp{
	width: 1200px;
	height: 60px;
	margin:20px auto;
	.page{
		text-align: center;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    li{
	    vertical-align: top;
	    letter-spacing: normal;
	    word-spacing: normal;
	    display: inline-block;
	    margin: 0 2px;
    	}
    	span{
   	background-color: #FFF;
    text-align: center;
    display: block;
    min-width: 18px;
    padding: 4px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #aaa;
    	}
    	.select{
    		background-color: #FF6D02;
    		border-color: #F65617;
    		color:#fff;
    	}
	}
}